body{
  font-family: Poppins, sans-serif;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.logo{
  width: 30px;
  margin: 10px 0px 0px 20px;
}
.logo-text {
  font-size: 32px;
  color: #E0565B;
  padding: 10px;
}
.nav{
  box-shadow: 0px 3px 7px rgba(0,0,0,0.1);
}
.main{
  text-align: center;
}
.grid{
  margin-top: 10px;
  max-width: 400px;
  align-self: center;
  }
.mainteksti{
  margin: 20px;
}
.tahti{
  height: 10px;
  margin: 0px 5px 0px 0px;
}
.kortti{
  font-size: 12px;
  width: 175px;
  margin: 10px;
}
.hlo{
  width: 100%;
  border-radius: 9px;
}
.harmaa {
  color: #918E9B;
}
.bold{
  font-weight: bold;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
