.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  min-width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates a grid with 3 columns */
  gap: 20px;
  padding: 20px;
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: black;
}

.card img {
  width: 100%; /* makes images responsive */
  border-radius: 50%; /* circular images */
  margin-bottom: 10px;
}
