* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
h2 {
  font-size: 0.75rem;
  font-weight: normal;
}
.harmaa {
  color: gray;
}
.lihava {
  font-weight: bold;
}
.nav-logo {
  width: 100px;
}

section {
  padding: 20px;
}
.otsikko {
  display: flex;
  flex-direction: column;
}
.otsikko--kuva {
  max-width: 400px;
  align-self: center;
}

.otsikko--header {
  margin-bottom: 10px;
}
.otsikko-text {
  margin--top: 0;
}
.kortti {
  width: 175px;
  font-size: 0.75rem;
}

.kortti--kuva {
  width: 100%;
  border-radius: 9px;
}

.kortti--statistiikka {
  display: flex;
  align-items: center;
}

.kortti--tahti {
  height: 14px;
}
